@import url('https://fonts.googleapis.com/css?family=Megrim');

$primary-color-dark:        #212121;
$primary-color:             #333333;
$primary-color-light:       #848484;
$accent-color-dark:         #367385;
$accent-color:              #5bc0de;
$accent-color-light:        #9cd9eb;
$primary-color-text:        #DDDDDD;
$primary-color-text-light:  #FFFFFF;
$primary-color-text-dark:   #BBBBBB;
$primary-text-color:        #212121;
$secondary-text-color:      #757575;
$divider-color:             #BDBDBD;

$segment-height: 20vw;
$min-segment-height: 30em;

//Root Stuff
body {
    background: $accent-color;
    font-family: 'Open Sans Condensed', sans-serif;    
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.divider-main {
    height: 1px;
    margin: 0px;
}

//Extendables
.text-decoration {
    color: $primary-color-text;
}

.shadow-box {
    background-color: rgba(0, 0, 0, 0.75);
}


.segment {
    height: $segment-height;
    min-height: $min-segment-height;
}

.main-color {
    background-color: $primary-color;
}

.main-image-logo {
    background-color: transparent;
}

//Billboard Style
.billboard {
    @extend .segment;
    @extend .text-decoration;
    text-shadow: 0 .05rem .1rem $secondary-text-color;
    background-image: url("https://images.unsplash.com/photo-1478700485868-972b69dc3fc4?dpr=1&auto=compress,format&fit=crop&w=3750&h=&q=80&cs=tinysrgb&crop=");
    background-repeat: no-repeat;
    background-position: center center; 
}

.billboard-overlay {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: rgba(0, 0, 0, 0.75);
}

.billboard-text {
    background: rgba(112, 66, 20, 0.25);
    padding: 10px;
    height: 32rem;       
}

.billboard-overlay:hover {
    opacity: 0;
}

.billboard-overlay:hover .billboard-info{
    @extend .billboard-overlay:hover;
}

.billboard-info {
    -moz-transition: opacity .15s ease-out;
    -o-transition: opacity .15s ease-out;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
    -moz-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
    position: center;
    font-family: 'Megrim', cursive;
}

//List Group
.list-group {  
    padding-left: 0;  
    margin-bottom: 20px;  
}  
    
.list-group-item, .list-group-item:visited {  
    position: relative;  
    display: block;  
    padding: 2px 15px;  
    margin-bottom: -1px;  
    margin-left: -15px;
    background-color: transparent;  
    border: 1px solid transparent;  
    color: $primary-color-text-light;
}  

.list-group-item:hover {
    color: $primary-color-text-dark;
}

//Headings
.headliner {
    min-height: $min-segment-height;
    background-size: cover;
    padding: 1px;
    overflow: hidden;
    width: 100%;
}

.products-heading {
    @extend .headliner;
    background-image: url("http://cdn.snowboarding.transworld.net/blogs.dir/442/files/2017/09/15-HalldorHelgason-LaaxSwitzerland-Arcadia-Cyril-Mueller-PM-0791.jpg");

}

.customize-heading {
    @extend .headliner;
    background-image: url("http://www.powderheadz.com/wp-content/uploads/2016/11/Best-All-Mountain-Snowboard-Bindings.jpg");
}

.story-heading {
    @extend .headliner;
    background-image: url("https://images.unsplash.com/photo-1498611291069-aa296192f1e4?dpr=1&auto=compress,format&fit=crop&w=3750&h=&q=80&cs=tinysrgb&crop=");
}

.spacer-container {
    @extend .headliner;
    background-image: url("https://coresites-cdn.factorymedia.com/whitelines_new/wp-content/uploads/2014/10/Best-snowboards-whitelines-2014-2015-intro.jpg");
    width: 100%;
    z-index: 10;
    background-position: center bottom; 
    background-attachment:fixed;
}

// Navigation Bar
.navbar{
    background-color: $primary-color;
    font-size: 18px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.35);
}

.navbar-dark .navbar-nav .nav-link {
    color: $primary-color-text-light;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $primary-color-text;
}

a:visited {
    color: $primary-color-dark;
}

/* Tablet and bigger */
@media ( min-width: 768px ) {
    .products-heading {
        border-right:2px solid $accent-color;
    }
    .customize-heading {
        background-position-x: center;
        border-right:2px solid $accent-color;
    }
    .spacer-container {
        border-width: 0px 1px 1px 1px;
        border-color: $accent-color;
        border-style: solid;
    }
}

/* Mobile and smaller */
@media (max-width: 768px) {
    .sideBorders {
        border-right:1px solid $accent-color;
        border-left:1px solid $accent-color;
    }
    .products-heading {
        @extend .sideBorders;
        border-bottom:2px solid $accent-color;
    }
    .customize-heading {
        @extend .sideBorders;
        background-position-x: center;
        border-bottom:2px solid $accent-color;
    }
    .story-heading {
        @extend .sideBorders;
        background-position-x: center;
        border-bottom:2px solid $accent-color;
    }
    .spacer-container {
        border-width: 0px 1px 1px 1px;
        border-color: $accent-color;
        border-style: solid;
    }
}
